.app {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 250px 50px 1fr;

    .header {
        grid-row: 2;
        display: flex;

        img {
            width: 100%;
        }
    }

    .main-content {
        grid-row: 4;

        form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 15px;
            grid-column: 1 / 13;

            .form-group.btn{
                margin-top: 15px;
                justify-content: center;
            }

            .form-group {
                grid-row: auto;
                display: flex;
                flex-direction: row;
                gap: 25px;
                width: 100%;

                .inputGroup{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    label{
                        font-family: Roboto;
                        color: #2D31FA;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }

                .formFirstName,
                .formLastName {
                    width: 50%;
                }

                .formTelephone, .formCodePostal, .formSexe {
                    width: 40%;
                }

                .formNumSecu, .formVille, .formNaissance {
                    width: 60%;
                }

                .formAdresse {
                    width: 100%;
                }

                input,
                select {
                    width: 100%;
                    background-color: white;
                    height: 35px;
                    border-left: 0px;
                    border-top: 0px;
                    border-right: 0px;
                    border-bottom: 5px solid #2D31FA;
                }

                select {
                    height: 42px;
                }
            }
        }
    }
}