<div class="container">
    <div class="menu">
        <a class="navbar-brand logo" routerLink="/"><img src="../../assets/images/logo.svg" alt="logo" /> <span>Hôpital
                Sacré-Coeur</span></a>
        <ul>
            <li><a class="nav-link" routerLink="/">Home</a></li>
            <li><a class="nav-link" routerLink="/services">Services</a></li>
            <li><a class="nav-link" routerLink="/patients">Patients</a></li>
            <li><a class="nav-link" routerLink="/personnel">Personnel</a></li>
            <li><a class="nav-link" routerLink="/contact">Contact</a></li>
            <li><a class="nav-link" routerLink="/connexion">Connexion</a></li>
        </ul>
    </div>
</div>