/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$navy: #051367;
$blue: #2D31FA;
$cold: #5D8BF4;
$winter: #5D8BF4;
$wedding: #DFF6FF;

html,
body {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;

    app-root {
        display: grid;

        app-navbar {
            grid-area: nav;
            background-color: $navy;
            position: sticky;
        }

        main {
            grid-area: main;
            background-color: $wedding;

            h1 {

                span {
                    color: $blue;
                }
            }

            .btnValider {
                width: 100%;
                font-family: Roboto;
                background-color: $navy;
                border-radius: 5px;
                color: white;
                padding: 15px;
                cursor: pointer;
            }
        }

        app-footer {
            grid-area: footer;
            background-color: $navy;
            // position: sticky;
        }

        app-navbar,
        app-footer {
            font-family: Roboto;
            color: white;
            font-weight: bold;
        }

        .container {
            display: grid;
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 768px) {
    body {
        app-root {

            h1{
                width: 50%;
            }

            grid-template-columns: repeat(12, 1fr);
            grid-template-areas:
                "nav nav nav nav nav nav nav nav nav nav nav nav"
                "main main main main main main main main main main main main"
                "footer footer footer footer footer footer footer footer footer footer footer footer";
            grid-template-rows: 80px 1fr 150px;

            .container {
                grid-template-columns: repeat(12, 1fr);
                grid-column: 3 / 11;
            }
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {
    body {
        app-root {
            h1 {
                width: auto;
            }

            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "nav"
                "main"
                "footer";
            grid-template-rows: 300px 1fr 150px;

        }

        .container {
            grid-template-columns: 1fr;
            grid-column: 1;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
    h1 {
        width: auto;
    }
}